:root {
  --primary-color: #7c3aed;
  --secondary-color: #ff8d4b;

  --off-white-primary: #efe6fd;
  --off-white-secondary: #fdfae6;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
}

.container {
  border: 1px solid red;
}

main.container {
  display: grid;
  grid-template: 200px 1fr / 1fr 4fr;
}

.header.container {
  grid-area: 1 / 2 / 2 / 6;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  position: relative;
  z-index: 10;
  box-shadow: 10px 5px 5px #ddd;
}

.header.container > div:first-child {
  width: 60%;
}

.header.container > div:nth-child(2) {
  width: 40%;
}

.header.container > div:nth-child(3) {
  width: 50%;
}

.header.container > div:last-child {
  width: 50%;
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
}

.sidebar.container {
  display: grid;
  grid-template-rows: 100px auto;

  padding: 10px;
  background-color: var(--primary-color);
  color: var(--off-white-secondary);

  grid-area: 1 / 1 / 6 / 2;
}

.sidebar h2 {
  display: inline;
  position: relative;
  top: -8px;
  left: 4px;
}

.sidebar.container img {
  filter: invert(1);
}

nav > ul {
  list-style-type: none;
  padding-top: 20px;

  display: grid;
  gap: 7px;
}

.main-content.container {
  grid-area: 2 / 2 / 7 / 6;

  gap: 20px;

  display: grid;
  grid-template: 1fr 1fr / 3fr 1fr;

  background-color: #eeeeee;
  padding: 10px;
}

.main-content.container > div {
  border: 1px solid blue;
}

.projects-container {
  grid-area: 1 / 1 / 3 / 2;
  display: grid;
  grid-template-rows: 40px;
}

.projects-header {

}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;;
}

.proj-box {
  width: min(calc(250px + 5vw), 50%, 270px);

  background-color: #fefefe;
  padding: 20px;

  border-radius: 5px;
  border: 1px;
  border-left: 3px solid var(--secondary-color);
  box-shadow: 10px 5px 5px #ddd;
}

.announcements {
  grid-area: 1 / 2 / 2 / 3;
}

.trending {
  grid-area: 2 / 2 / 3 / 3;
}

button {
  background-color: var(--primary-color);
  color: var(--off-white-secondary);

  padding: 10px 20px;
  border-radius: 20px;
  border: none;
}